@import url('https://fonts.googleapis.com/css2?family=Figtree&family=Noto+Serif&display=swap');

$primary: goldenrod;
$sans-serif: 'Figtree', sans-serif;
$serif: 'Noto Serif', serif;

body {
    font-family: $sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: $serif;
}

#priority {
    width: auto;
}

.task-tab {
    background-color: goldenrod;

    a {
        color: #fff;
    }
}

.project-tab {
    background-color: palevioletred;

    a {
        color: #fff;
    }
}

main {
    max-width: 630px;
}

// screen is less than 840px wide
@media screen and (max-width: 840px) {
    // form should be be in 1 column & accessed through a modal window
    // task view should be in 1 column

    // test to make sure this media query is accessed
    #current-view-title {
        color: palevioletred;
    }

}

// screen is more than 841px wide
@media screen and (min-width: 841px) {

    // test to make sure this media query is accessed
    #current-view-title {
        color: $primary;
    }

}