@import url('https://fonts.googleapis.com/css2?family=Figtree&family=Noto+Serif&display=swap');

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
    border-radius: 20px;
}

.toggle.ios .toggle-handle {
    border-radius: 20px;
}

.visual-notes {
    font-family: monospace;
    color: red;
}

$primary: goldenrod;
$sans-serif: 'Figtree', sans-serif;
$serif: 'Noto Serif', serif;

body {
    font-family: $sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $serif;
}

.nav-link {
    font-size: smaller;
    padding: 0.5rem;
}

main {
    max-width: 630px;
}

nav {
    height: 60px;
}

.opacity {
    opacity: 0.5;
}

.rad-grad-left {
    position: absolute;
    width: 640px;
    height: 640px;
    top: -6rem;
    left: -20%;
    opacity: .15;
    background-image: radial-gradient(50% 50% at 50% 50%, #0d6efd 0, hsla(0, 0%, 100%, 0) 100%);
}

.rad-grad-right {
    @extend .rad-grad-left;
    left: auto;
    top: auto;
    bottom: 0rem;
    right: -20%;
    background-image: radial-gradient(50% 50% at 50% 50%, #db7029 0, hsla(0, 0%, 100%, 0) 100%)
}

#task-list {
    box-shadow: #ddd 8px 5px 10px;
}

.task-item-wrapper {
    text-decoration: none;
    border: none;
    border-bottom: 1px solid slategrey;
    border-radius: none;
}

.task-item-wrapper:last-child {
    border: none;
}

.btn-sm {
    padding: 0em 0.25em;
}

// .task-text-primary {
//     border: 1px solid limegreen
// }

// .task-text-secondary {
//     border: 1px solid blue
// }


// screen is less than 840px wide
@media screen and (max-width: 840px) {
    // form should be be in 1 column & accessed through a modal window
    // task view should be in 1 column

    // test to make sure this media query is accessed
    #projectHeader {
        color: palevioletred;
    }

    .rad-grad-left,
    .rad-grad-right {
        width: 400px;
        height: 400px;
    }

}

// screen is more than 841px wide
@media screen and (min-width: 841px) {

    // test to make sure this media query is accessed
    #projectHeader {
        color: $primary;
    }

}

// screen is less than 500px wide
@media screen and (max-width: 400px) {
    // nav should be a burger menu

    // test to make sure this media query is accessed
    #projectHeader {
        color: #0d6efd;
    }


}