@import url('https://fonts.googleapis.com/css2?family=Figtree&family=Noto+Serif&display=swap');

$primary: goldenrod;
$sans-serif: 'Figtree', sans-serif;
$serif: 'Noto Serif', serif;

body {
    font-family: $sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: $serif;
}

.view-pane {
    color: $primary;
    border: 3px solid $primary;
    border-radius: 1rem;
}

#priority {
    width: auto;
}

#add-task-form {
    max-width: 500px;
}

.task-tab {
    background-color: goldenrod;

    a {
        color: #fff;
    }
}

.project-tab {
    background-color: palevioletred;

    a {
        color: #fff;
    }
}

// screen is less than 840px wide
@media screen and (max-width: 840px) {
    main {
        width: 100%;
    }
}

// screen is at least 841px wide
@media screen and (min-width: 841px) {
    main {
        width: 75%;
    }
}